@font-face {
    font-family: 'Noto Sans KR', sans-serif;
    font-style: normal;
    font-weight: 400;   
    src:  url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
}

body{
    font-family: 'Noto Sans KR';
}
input{
    font-family: 'Noto Sans KR';
}
div{
    font-family: 'Noto Sans KR';
}

.cover {
        width: 100%;
        max-width: 640px;
        margin: 0 auto;
        letter-spacing: -2px;
    }

    .ui-input-text {
        -webkit-box-shadow: none;
        box-shadow: none;
        width: 300px;
        margin: 5px auto;
        padding: .6em 0;
        font-size: 14px;
        border: 0;
        border-bottom: 2px solid #bababa;
        border-radius: 0;
    }

    .ui-btn {
        width: 295px;
        padding: .8em 0;
        margin: 0 auto;
        border: 0;
        letter-spacing: 0;
        border-radius: .1rem !important;
    }

    .ui-page {
        background-color: #ffffff;
    }

    .title {
        font-size: 32px;
        font-weight: 600;
        width: 300px;
        margin: 50px auto;
    }
    .sub_tlt{
        font-size: 22px;
        font-weight: 600;
        width: 300px;
        margin: 25px auto;
    }

    .cover a {
        color: #b2b2b2;
        font-size: 16px;
        text-decoration: underline;
        margin: 10px 0;
        line-height: 1.5rem;
    }